body{
  text-align: center;  
    
}

input{
    background-color: grey;
}
.logo{
    border-radius: 35px;
    height: 100px;
    width: 65%;
    border-color: black;
   
}
.line{
     height: 6px;
    background-color: #000;
    width: 70px;
    margin: 8px auto;
}
.nav_inverse{
    background-color:darkgrey;
    text-decoration-color:aqua;
    position:sticky;
    top:0;
    z-index:99999;
}
#map{
    text-align: left;
}
